# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle
*.publish/

# Rider
.idea/

# NuGet Packages
*.nupkg
*.snupkg

# Logs
*.log

# Other
*.DS_Store